@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color:rgb(40, 46, 49);
    font-family: "Lexend", sans-serif;
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.main {
    background-color:rgb(26, 31, 34);
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 1em;
    width: 500px;
    border-radius: 10px;
    text-align: center;
}

.bio {
    background-color:rgb(26, 31, 34);
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 1em;
    width: 500px;
    border-radius: 10px;
    text-align: left;
}

